{% load staticfiles %}
<html>
    <head>
        <title>RankBomb</title>
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
        <script src="{% static "js/jquery-1.11.2.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>

    </head>
    <body ng-app="rankBomb" ng-controller="MainCtrl" class="ng-scope">
        <div class="page-header ng-binding ng-scope">
          <h1><b class="ng-binding">{{ CType }}</b></h1><br>
          <table style="text-align:center">
            <colgroup><col width="500">
            </colgroup><tbody><tr><td>
              <form ng-submit="choose(0)" class="ng-pristine ng-valid ng-submitted">
              <figure>
                <div id="Imgtag1">
                  <img type="image" id="Img1" class="Images" value="" onclick="loadImages(this)" src="">
                  <figcaption id="caption1" class="ng-binding"></figcaption>
                </div>
              </figure>
              </form>
            </td>

            <td>
              <form ng-submit="choose(1)" class="ng-pristine ng-valid ng-submitted">
              <figure>
                <div id="Imgtag2">
                  <img type="image" id="Img2" class="Images" value="" onclick="loadImages(this)" src="">
                  <figcaption id="caption2" class="ng-binding"></figcaption>
                </div>
              </figure>
              </form>
            </td>
          </tr></tbody></table>
          <progress value="0" max="10">Completed: </progress>
          <div id="completed">0 out of  10 completed.</div>
        </div>

        <div id="familiarityDiv">
          <h2>Were you familiar with all of the items in this section? </h2>
          <input class="familiarity" type="radio" name="familiarity" value="1"><b>Yes</b><br>
          <input class="familiarity" type="radio" name="familiarity" value="0"><b>No</b><br>
            <div class="btn-group">
              <a id="done"><input type="submit" class="btn btn-default" value="done"></a>
            </div>
        </div>
        <!--modal box to obtain name or username-->
        {% if not username %}
          <div id="openModal" class="modalDialog">
              <div>
                <h1><b class="modalHeading">{{ CType }}</b></h1><br>
                  <h2 class="removeAfterEnter" style="color:#31324c">Please enter your Amazon Worker ID so we can approve your work.</h2>
                    <input style="margin-bottom:5px" type="text" class="form-control removeAfterEnter" id="username" name="username">
                    <div class="btn-group">
                      <a id="start"><input type="submit" class="btn btn-default download" value="start"></a>
                    </div>
              </div>
          </div>
        {% endif %}

        <!--Username is passed on to each page-->
        {% if username %}
          <input id="username" type="hidden" value="{{username}}">
          <div id="openModal" class="modalDialog">
              <div>
                <h1><b class="modalHeading">{{ CType }}</b></h1><br>
                  <!--<h2 class="removeAfterEnter" style="color:#31324c">Please enter a name or username of your choice.</h2>-->
                    <!--<input style="margin-bottom:5px" type="text" class="form-control removeAfterEnter" id="username" name="username">-->
                    <div class="btn-group">
                      <a id="start"><input type="submit" class="btn btn-default download" value="start"></a>
                    </div>
              </div>
          </div>
        {% endif %}
        <!--modal box to obtain familiarity-->
        <!--<div id="openModalFamil" class="modalDialog">-->
        <!--      <div>-->
        <!--          <h2 class="removeAfterEnter" style="color:#31324c">Were you familiar with all of the items in this section? </h2>-->
        <!--          <input class="familiarity" type="radio" name="familiarity" value="1"><b><font color="#31324c">Yes</font></b><br>-->
        <!--          <input class="familiarity" type="radio" name="familiarity" value="0"><b><font color="#31324c">No</font></b><br>-->
        <!--            <div class="btn-group">-->
        <!--              <a id="done"><input type="submit" class="btn btn-default download" value="done"></a>-->
        <!--            </div>-->
        <!--      </div>-->
        <!--  </div>-->
      <!--Script placed here to avoid loadi ssues-->
      <script src="{% static "js/script.js" %}"></script>
    </body>
</html>